@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
button {
  outline: none!important;
  box-shadow: none!important;
}
button:focus {
  outline: none!important;
  box-shadow: none!important;
}
body {
  overflow-x: hidden;
}
/* Start navbar */
.navbar-nav a {
	font-size: 18px;
	font-weight: 501;
}
.navbar-light .navbar-brand {
	color: rgb(255, 255, 255);
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link {
	color: rgb(255, 255, 255);
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: rgb(255, 255, 255);
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: rgb(255, 255, 255);
  border: none;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 255, 255);
}
.bg-sticky {
  background: rgba(177, 147, 28, 1)!important;
  color: #fff!important;
}
/* End navbar */
/* Start home */
.home {
  height: 100vh;
  background: url('../images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  top: 50%;
  transform: translate(0%, -50%);
}
.home .home-content .text-1{
  font-size: 27px;
  color: #fff;
}
.home .home-content .text-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  color: #fff;
}
.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;
  color: #fff;
}
.home .home-content .text-3 span{
  color: rgb(0, 204, 255);
  font-weight: 500;
}
/* End home */
/* Start about */
.image-profile-2 {
  height: 400px;
  width: 400px;
  background-image: url('../images/profile-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}
.info-group li {
  list-style-type: none;
  border-bottom: 2px solid rgb(0, 64, 106);
}
.info-group li .key {
  background: rgb(0, 64, 106);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  min-width: 120px;
  color: #fff;
}
.skills-select {
  border: 2px solid rgb(0, 64, 106);
  border-radius: 50px;
  background: rgb(183, 227, 255);
}
.skill-title {
  width: 120px;
  display: flex;
  align-items: center;
}
.icon {
  font-size: 1.5em;
}
.i-icon {
  border-radius: 50px;
  border: 2px solid rgb(0, 64, 106);
  background: #fff;
}
.text-violet {
  color: rgb(39, 0, 111);
  align-items: center;
}
.icon-jquery {
  width: 100px;
}
.text-pink {
  color: rgb(255, 0, 234);
  align-items: center;
}
/* End about */
/* Start resume */
#resume, #portfolio {
  background: url('../images/banner-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.card:hover {
  box-shadow: 5px 5px 5px #acacac;
  transform: scale(1.05);
}
.card {
  box-shadow: 3px 3px 3px #acacac;
  overflow: hidden;
  transition: all 0.3s ease;
}
.card-columns {
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
}
.bg-card-cao-thang {
  background-image: url('../images/logo_caothang.png');
}
.bg-card-bessfu {
  background-image: url('../images/MST-0315085991.png');
}
.bg-card-billionaire {
  background-image: url('../images/billionaire.png');
}
.bg-card {
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-parent-card {
  background:rgba(177, 147, 28, 0.527);
  transition: all 0.3s ease;
}
.card-body {
  transition: all 0.3s ease;
}
/* End resume */
/* skills section styling */

.skills .title::after{
  content: "what i know";
}
.skills .skills-content .column{
  width: calc(50% - 30px);
}
.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p{
  text-align: justify;
}
.skills .skills-content .left a{
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
  color: crimson;
  background: none;
}
.skills .skills-content .right .bars{
  margin-bottom: 15px;
}
.skills .skills-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.skills-content .right .html::before{
  width: 90%;
}
.skills-content .right .css::before{
  width: 60%;
}
.skills-content .right .js::before{
  width: 80%;
}
.skills-content .right .php::before{
  width: 50%;
}
.skills-content .right .mysql::before{
  width: 70%;
}
.skills-select div {
  transition: all 0.3s ease;
}
.skills-select:hover div {
  transform: scale(1.01);
}
/* End Skill */
/* Portfolio */
.card-portfolio {
  box-shadow: none!important;
}
.bg-video-reshare {
  background-image: url('../images/resharecms.png');
}
.bg-video-reshare-api {
  background-image: url('../images/reshareapi.png');
}
.bg-video-real-api {
  background-image: url('../images/realapi.jpg');
}
.bg-video-web-find-room {
  background-image: url('../images/timtro.jpg');
}
.bg-video-nodeexpress {
  background-image: url('../images/nodejsExpress.jpg');
}
.bg-video-admin_fr {
  background-image: url('../images/admin_fr.png');
}
.bg-card-portfolio {
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-parent-card-portfolio {
  background:rgba(177, 147, 28, 0);
  transition: all 0.3s ease;
}
.card-portfolio {
  background: rgba(198, 198, 198, 0.3);
  color: #fff;
}
.look__video, .look__video:hover {
  border: none;
  background: rgba(198, 198, 198, 0.3);
}
.look__video:focus {
  box-shadow: none!important;
  background: rgba(198, 198, 198, 0.3);
}
.input-custorm {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #acacac;
}
input, input:focus, textarea, textarea:focus {
  box-shadow: none!important;
  outline: none!important;
}
/* End portfolio */
/* Modal */
.modal-content {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0;
}
.modal-content span {
  color: #fff!important;
}
/* End Modal */
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}
@media only screen and (max-width: 430px) {
	.image-profile-2 {
    height: 300px;
    width: 100%;
    border-radius: 6px;
  }
}
@media only screen and (max-width: 991px) {
	.image-profile-2-parent {
    display: flex;
    justify-content: center;
  }
  .card-columns {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
  }
}
@media only screen and (max-width: 545px) {
  .card-columns {
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }
}
